<div class="container">

  {{ page.primary_menu }}

  <header role="banner">
    {{ page.header }}
    {{ page.breadcrumb }}
  </header>

  <main role="main">

    <div class="layout-content">
      <section id="error-not-found" class="row">
        <div class="col-12 col-lg-6 pt-5">
          <h1 class="display-3"><b>Oops!</b></h1>
          <h3>We can't seem to find the page you are looking for.</h3>
          <h4 class="pt-5"><b>Error code: 404</b></h4>
          <p>Here are some helpful links instead:</p>
          <a href="/">Home</a><br>
        </div>
        <div class="d-none d-lg-block col-6 pt-5">
          <img class="w-100" src="/themes/custom/ib3/static/images/jpg/404.jpg">
        </div>
      </section>
    </div>

  </main>

</div>
